body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.doctor-info {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    opacity: 85%;
}

.doctor-info img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

h2,
p {
    color: #333;
    margin: 10px 0;
}

button {
    background-color: #015871;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#calendar {
    display: none;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="datetime-local"] {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.confirm-button {
    background-color: #0c4624;
}

/*начало стилей для анимации*/
.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

/*конец стилей для анимации волн*/



.go-back {
    /* кнопка возрата*/
    opacity: 100%;
    background-color: #015871;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

/*стили для загрузки начало*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
    /* Скрытие контента до завершения анимации */
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
}

.loader {
    border: 8px solid #015871;
    border-top: 8px solid #f4f4f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite, fadeOut 1s forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.content {
    opacity: 0;
    /* Изначально скрытое */
    animation: fadeIn 1s forwards 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*стили для загрузки конец*/