    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #015871 100%);
    }

    #patient-info {
        /*блок с информацией о пациенте*/
        background: #fff;
        border-radius: 50px;
        box-shadow: 30px 14px 28px rgba(0, 0, 5, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
        width: 500px;
        height: 600px;
        max-width: 100%;
        min-height: 670px;
        transition: 333ms;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        font-style: italic;

    }

    #doctor-appointments {
        /*блок приемы у врача*/
        padding: 10px;
        width: 60%;
        background: #fff;
        border-radius: 50px;
        box-shadow: 30px 14px 28px rgba(0, 0, 5, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        font-style: italic;
        text-align: center;
    }

    .appointment-block {
        /*блок детали приема*/
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        font-style: italic;
        border-radius: 50px;
        margin-top: 20px;
        text-align: left;
    }

    .appointment-content {
        display: none;

    }

    .save-btn,
    .delete-btn,
    .toggle-btn {
        opacity: 100%;
        /*прозрачность*/
        background-color: #015871;
        color: white;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px;
        cursor: pointer;
        margin-top: 10px;
    }

    #add-appointment-btn {
        background-color: #015871;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    .go-back {
        /* кнопка возрата*/
        opacity: 100%;
        background-color: #015871;
        color: white;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px;
        cursor: pointer;
        margin-top: 10px;
    }